body {
  background-color: #40304f;
  text-align: center;
  font-family: Wallpoet;
  color: #ffffff;
}

a {
  color: #ffffff;
}

.card {
  margin: auto;
  width: 500px;
  min-height: 600px;
  border-style: solid;
  border-color: purple;
  text-align: center;
  color: #000000;
  background-color: #dcbbfa;
}

.card--id {
  font-size: 18pt;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card--image {
  border-style: dotted;
  border-color: purple;
  margin-bottom: 0px;
  width: 100px;
  height: 100px;
}

.card--name {
  margin-top: 0px;
  font-size: 14pt;
  margin-bottom: 0px;
  font-style: bold;
}

.card--details {
  margin-top: 0px;
  font-size: 10pt;
  font-style: italic;
}

form {
  margin-bottom: 5px;
}

input {
  background-color:#40304f;
  color: #ffffff
}